<section>

    <form action="/places/create" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Name of Place</label>
            <input type="text" name="name" class="form-control" placeholder="Place Name" required>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Search Place</label>
            <input type="text" id="pac-input" class="form-control" placeholder="Search Place Address" name="address" required>
        </div>

        <input type="hidden" name="lat" id="lat-input" value="0" />
        <input type="hidden" name="lng" id="lng-input" value="0" />

        <a class="btn btn-default" href="/places">Back</a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</section>