<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="javascript:void(0)">Node Sample</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/places">Places</a></li>
                <li><a href="/users">Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/users/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/users/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>

    {{{body}}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/javascripts/developer.js"></script>
    
</body>

</html>